{% extends "basestyle/one_column_layout.html" %}
{% load static %}

{% block title %}HMDA Panel and Transmittal Sheet (TS) data{% endblock %}

{% block head_styles %}

{% endblock %}


{% block main_content %}

        <h1>MDA Panel and Transmittal Sheet (TS) data</h1>

        {% with institution=respondent %}
            {% include 'respondents/partial/rp_institution_details.html' %}
        {% endwith %}

        {% if respondent.top_holder %}
            <h4>Top Holder:</h4>
            {% with non_reporter=respondent.top_holder %}
                {% include 'respondents/partial/rp_non_reporting_details.html' %}
            {% endwith %}
        {% endif %}

        {% if non_reporting_parent %}
            <h4>Non-reporting parent</h4>
            {% with non_reporter=non_reporting_parent %}
                {% include 'respondents/partial/rp_non_reporting_details.html'%}
            {% endwith %}
        {% endif %}

        {% if parents %}
            
            {% for p in parents %}
                {% with institution=p %}
                    <h4>Parent:</h4>
                    {% include 'respondents/partial/rp_institution_details.html' %}
                {% endwith %}
            {% endfor %}
        {% endif %}


        <p><b>NOTE</b>: Institution data is from the {{year}} HMDA Transmittal sheet. NIC may have more current data for this institution.</p>



{% endblock %}


{% block foot_scripts %}



{% endblock %}
