{% extends "basestyle/one_column_layout.html" %}
{% load static %}

{% block title %}Find an Lender (HMDA respondent){% endblock %}

{% block head_styles %}

{% endblock %}


{% block main_content %}
    <div class="search-home">
        <h2>Find a lender</h2>
        <form action="{% url 'respondants:search_results' %}" method="GET">
            <div class="search-field">
                <label for="search_name" class="search-name-label">Search by lender name or lender ID
                    (<a target="new" href="http://www.ffiec.gov/nicpubweb/nicweb/SearchForm.aspx">Need a Lender ID?</a> <span class="cf-icon cf-icon-external-link"></span>)
                </label>
                <input type="text" id="search_name" name="q" />
                <button type="submit" class="btn active">Search</button>
                <span class="example-hint">ex: 09-9992222111; 9992222111-09; First Federal Savings</span>
            </div>
        </form>
    </div>

{% endblock %}


{% block foot_scripts %}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'respondants/js/search.js' %}"></script>

{% endblock %}