Django
psycopg2
requests
south
django-localflavor
django-geojson
django-haystack==2.1.0
django-overextends
djangorestframework
git+https://github.com/makinacorpus/django-leaflet.git#egg=django-leaflet
mock
numpy
pyelasticsearch
jsonschema
