Django==1.7
argparse==1.2.1
django-geojson==2.6.0
django-haystack==2.3.0
django-localflavor==1.0
django-overextends==0.3.2
djangorestframework==2.3.14
jsonschema==2.4.0
mock==1.0.1
psycopg2
elasticsearch==1.0
requests==2.3.0
simplejson==3.6.3
six==1.7.3
sphinx-me==0.3
wsgiref==0.1.2
gunicorn==19.1.1
newrelic==2.60.0.46
