<!--<footer class="footer cf" role="contentinfo">
        <div class="wrap footer-container">

          <section class="footer-section footer-links">
              <h4>Links</h4>
              <ul>
                  <li>
                      <a href="#">Link 1</a>
                  </li>
                  <li>
                      <a href="#">Link 2</a>
                  </li>
                  <li>
                      <a href="#">Link 3</a>
                  </li>
              </ul>
          </section>

          <section class="footer-section footer-oss">
              <h4>About this project</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
          </section>

          <section class="footer-section footer-standards">
              <h4>Disclaimer</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
          </section>

        </div>
    </footer>
  -->