<header id="header" class="header" role="banner">
  <div class="wrap">
    <a class="skip-link visually-hidden focusable" href="#content">Skip to Main Content</a>
    <div class="site-title">
      <h1><a class="title-link" href="/design-manual/"><span class="site-org">CFPB&nbsp;</span>Home Mortage Mapping Application</a></h1>
    </div>
    <div class="site-logo">
      <a href="http://www.consumerfinance.gov"><img class="logo" src="{{STATIC_URL}}cfpbstyle/img/logo_210.png" alt="Consumer Financial Protection Bureau"></a>
    </div>
  </div>
</header>