{% extends "basestyle/one_column_layout.html" %}
{% load static %}

{% block title %}Fair Lending FAQ / Data Details{% endblock %}

{% block head_styles %}

{% endblock %}


{% block main_content %}

    <div class="faq-home">
    <h3>Frequently Asked Questions / Data Descriptions</h3>

    <table>
    	<tbody>
    		<th>
    			<td></td>
    			<td></td>
    			<td></td>
    		</th>
    		<tr>
    			<td></td>
    			<td></td>
    			<td></td>
    		</tr>
    	</tbody>	
    </table>

    </div>

{% endblock %}


{% block foot_scripts %}


{% endblock %}
