{% extends "basestyle/map_layout.html" %}
{% load staticfiles %}

{% block title %}Fair Lending HMDA Visualization Toolkit - {{lender}}{% endblock %}

{% block head_styles %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <!-- TODO: MOVE THESE TO GRUNT / BOWER DEPS -->
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'mapping/css/vendor.css' %}" />

{% endblock %}

{% block head_scripts %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
    <script type="text/javascript" src="{% static 'mapping/js/map-vendor.min.js' %}"></script>
    <script src="http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map-layout.min.js' %}"></script>
{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}


{% block main_content %}
<div id="map-container">
    <div id="map">
    {% include 'partial/map_key.html'%}    
    </div>
</div>


{% endblock %}

{% block foot_scripts %}
    
    <script>

        /* 
          ---- MAPBOX / LEAFLET CODE ----
        */
        
        // Size the map container for the window size
        setMapHeight();
        
        // Our Mapbox public token so we can load all these fun layers
        L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
        
        // Initialize the map
        var map = L.mapbox.map('map', null, { attributionControl: false })
        
        // If we have a metro parameter, center the map on this lat / lon
        {% if metro %}
            map.setView(["{{metro.centlat}}", "{{metro.centlon}}"], 11);
        {% else %}
            // Otherwise, somewhere near Chicago for grins
            map.setView([40, -74.50], 11);
        {% endif %}
        
        // Using our modified Leaflet-Hash plugin, check to see if we need to move the map somewhere else.
        var hash = new L.Hash(map),
            hashCheck = hash.parseHash(hash),
            loadParams = getHashParams();

        // If the hash already has parameters, change the view to be those exact coordinates
        if( typeof hashCheck.params != 'undefined') {
            map.setView([hashCheck.params.lat.values, hashCheck.params.lon.values], hashCheck.params.zoom.values );
        }

        // Set our map options after it's been created and centered
        map.options.maxZoom = 12;
        map.options.minZoom = 9;
        map.options.inertia = false;

        // When the user has stopped moving the map, run init, with a slight delay
        map.on('moveend', _.debounce(init, 650) );

        // Initialize all of our layers
        var layers = {
            MBBase: L.mapbox.tileLayer('cfpb.k55b27gd'),
            Base: L.mapbox.tileLayer('cfpb.k93n4cdg'),
            Water: L.mapbox.tileLayer('cfpb.FL_WATER_all_US'),
            Boundaries: L.mapbox.tileLayer('cfpb.FL_BORDERS_all_US'),
            CountyLabels: L.mapbox.tileLayer('cfpb.FL_COUNTY_labels'),
            MSALabels: L.mapbox.tileLayer('cfpb.FL_MSA_labels'),
            PctMinority: L.mapbox.tileLayer('cfpb.FL_TRACT_per-min_US'),
            PctHispanic: L.mapbox.tileLayer('cfpb.FL_TRACT_per-hsp_US'),
            PctBlack: L.mapbox.tileLayer('cfpb.FL_TRACT_per-blk_US'),
            PctAsian: L.mapbox.tileLayer('cfpb.FL_TRACT_per-asn_US'),
            PctNonWhite: L.mapbox.tileLayer('cfpb.FL_TRACT_pct_nhwht_US'),
            Sequential3: L.mapbox.tileLayer('cfpb.FL_TRACT_seq_pct_minorv1_US'),
            Sequential10: L.mapbox.tileLayer('cfpb.FL_TRACT_seq-10_minorv1_US'),
            Plurality: L.mapbox.tileLayer('cfpb.FL_TRACT_minor_plurality_US'),
            Centroids: L.layerGroup([])
        };

        // Baselayers are created here and show up in our layer selector on the screen as radio buttons
        var baseLayers = {
            'Mapbox Base': layers.MBBase,
            'Contiguous US': layers.Base
        };

        // Overlay layers show up as checkboxes and can be enabled at the same time using the layer selector
        var overlays = {
            'Water': layers.Water,
            'Boundaries': layers.Boundaries,
            'MSA Labels': layers.MSALabels,
            'County Labels': layers.CountyLabels
        };

        // Setup the minimap
        var miniLayer = new L.mapbox.TileLayer('cfpb.k55b27gd', {minZoom: 0, maxZoom: 13 });
        var miniMap = new L.Control.MiniMap(miniLayer).addTo(map);

        // This array allows us to remove them from the map when a new one is selected (later)
        var minorityLayers = [layers.PctMinority, layers.PctHispanic, layers.PctBlack, layers.PctAsian, layers.PctNonWhite,
                                layers.Sequential3, layers.Sequential10, layers.Plurality];

        // Add all our primary default layers to the map up front
        layers.Base.addTo(map);
        layers.Water.addTo(map);
        layers.Boundaries.addTo(map);
        layers.MSALabels.addTo(map);
        layers.PctMinority.addTo(map);

        // Create a layer for our circles
        layers.Centroids.addTo(map);

        // Add our +/- and layer controls to the top left
        L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map); 
        // Add a mile scale
        L.control.scale().addTo(map);
        
        // Make sure water and boundaries are above everything else
        layers.Water.bringToFront();
        layers.PctMinority.bringToFront();
        layers.Boundaries.bringToFront();
        layers.MSALabels.bringToFront();

        if( map.hasLayer(layers.CountyLabels) ){
            layers.CountyLabels.bringToFront();
        }

        // Add the HTML Template key as a key in the top right
        var key = L.control();
        key.onAdd = function() {
            return L.DomUtil.get('key');
        };
        key.setPosition('topright');
        key.addTo(map);

    /* 
      END MAPBOX / LEAFLET CODE
    */


        
    </script>
    <script type="text/javascript" src="{% static 'respondents/js/metro-search.min.js' %}"></script>

{% endblock %}
