{% extends "basestyle/base.html" %}
{% load staticfiles %}

{% block title %}Redlining Risk Assessment Mapper - {{lender}}{% endblock %}

{% block head_styles %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'mapping/css/vendor.css' %}" />

{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{% static 'mapping/js/map-vendor.min.js' %}"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.standalone.js'></script>
    <script type="text/javascript" src="{% static 'mapping/js/map.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map-layout.min.js' %}"></script>
{% endblock %}

{% block body%}
{% include "basestyle/common/predecisional_banner.html" %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels hidden">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}

<div id="main-container" style="padding:15px;">
    <header id="header" class="header" role="banner">
      <div class="map-wrapper" style="height: 90px;">
        <div class="logo" style="display:inline-block">
            <a href="http://www.consumerfinance.gov"><img class="logo" src="{{ STATIC_URL }}basestyle/img/logo_210.png" alt="Consumer Financial Protection Bureau"></a>
            <br/>
            <span id="printLink" href="#" class="btn no-print print-button" onClick="window.print();">
                <span class="btn_icon__left cf-icon cf-icon-print"></span>
                Print
            </span>
            <p class="no-print" style="font-size: .85em; padding-bottom: 2px;">Recommended Print Setting: Landscape, low margin, enable Backgrounds, Legal Size</p>
        </div>
        <div style="display:inline-block; position: relative; text-align: right; float:right;">
             <span class="peers-of-true hidden">Peers of </span><strong>{{ lender.name }}</strong> - {{ lender.agency_id }}{{ lender.respondent_id }}<br/>
            <b>MSA:</b> {{ metro.name }}<br/>
            <b>Layer: </b><span id="minorityValue"></span><br/>
        </div>
        <div id="filterStatus" style="display:inline-block; vertical-align:top; top: 5px;"></div>
      </div>
    </header>
    <div id="map-container" >
        <div id="map" style="width:100%; height: 550px">
        {% include 'partial/map_key_print.html'%}    
        </div>
    </div>
</div>
<div>
    {% if lender %}
        <div id="map-aside__lender-details" class="map-aside__lender-details">
            <div class="map-divider"><h6 class="tab-title">Lender Details</h6></div>
            <div id="lender-info" class="map-divider"><!-- lender-info ID is in a test, it needs to be changed in the test -->                
                <h3 class="tab-main">{{ lender.name }}</h3>
                <div class="header-group">
                    <h6 class="item-sub">Regulating Agency:</h6>
                    <h6 class="item-main">{{ lender.agency.acronym }}</h6>    
                </div>
                <div class="header-group">
                    <h6 class="item-sub">Lender ID:</h6>
                    <h6 class="item-main">{{ lender.agency_id }}{{ lender.respondent_id }}</h6>
                </div>
                <div class="header-group">
                    <h6 class="item-sub">Address:</h6>
                    <h6 class="item-main">{{ lender.mailing_address  }}<br />
                                {{ lender.zip_code.city }}, {{ lender.zip_code.state }}
                                {{ lender.zip_code.zip_code }}</h6>                   
                </div>
                <div class="header-group">
                    <h6 class="item-sub">HMDA Year:</h6>
                    <h6 class="item-main">{{ lender.year }}</h6>                 
                </div>

            </div>
            <div id="lenderAffiliateList" class="map-divider lighter hidden" >
                <h3>Affiliated Institutions included in LAR count:</h3>
                {% for inst in institution_hierarchy %}
                    <span style="display:inline-block; min-width:250px; max-width:250px; height:60px; vertical-align:top;">
                        <span class="item-main"><b>{{ inst.institution.name }}</b></span><br/><span class="item-sub">{{ inst.institution_id }}</span>
                    </span>
                {% endfor %}
            </div>
            <div id="lenderPeersList" class="map-divider lighter hidden" >
                <h3>Peer Institutions included in LAR count:</h3>
                {% for peer in institution_peers %}
                    <span style="display:inline-block; min-width:250px; max-width:250px; height:60px; vertical-align:top;">
                        <span class="item-main"><b>{{ peer.institution.name }}</b></span><br/><span class="item-sub">{{ peer.institution_id }}</span>
                    </span>
                {% endfor %}
            </div>
    {% endif %}
        </div>

</div>

{% endblock %}

{% block foot_scripts %}
    
    <script>


        /* 
          ---- MAPBOX / LEAFLET CODE ----
        */
        
        // Size the map container for the window size (Don't do this for print view)
        // setMapHeight();
        
        // Our Mapbox public token so we can load all these fun layers
        L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
        
        // Initialize the map
        var map = L.map('map', {attributionControl: false, zoomControl: false});

        // Disable drag and zoom handlers.
        map.touchZoom.disable();
        map.doubleClickZoom.disable();
        map.scrollWheelZoom.disable();

        // Disable tap handler, if present.
        if (map.tap) map.tap.disable();
        
        // If we have a metro parameter, center the map on this lat / lon
        {% if metro %}
            map.setView(["{{metro.centlat}}", "{{metro.centlon}}"], 11);
        {% else %}
            // Otherwise, somewhere near Chicago for grins
            map.setView([40, -74.50], 11);
        {% endif %}
        
        // Using our modified Leaflet-Hash plugin, check to see if we need to move the map somewhere else.
        var hash = new L.Hash(map),
            hashCheck = hash.parseHash(hash),
            loadParams = getHashParams();
            console.log("Hash Check: ", hashCheck);

        // If the hash already has parameters, change the view to be those exact coordinates
        if( typeof hashCheck.params != 'undefined') {
            map.setView([hashCheck.params.lat.values, hashCheck.params.lon.values], hashCheck.params.zoom.values );
        }

        // Set our map options after it's been created and centered
        map.options.maxZoom = 12;
        map.options.minZoom = 7;
        map.options.inertia = false;

        // Initialize all of our layers
        var layers = {
            MBBase: L.tileLayer('https://{s}.tiles.mapbox.com/v4/cfpb.k55b27gd/{z}/{x}/{y}.png?access_token=' + L.mapbox.accessToken),
            Base: L.mapbox.tileLayer('cfpb.a760eab8', {errorTileUrl: '/static/basestyle/img/0.png'}),
            Water: L.mapbox.tileLayer('cfpb.FL_WATER_all_US', {errorTileUrl: '/static/basestyle/img/0.png'}),
            Boundaries: L.mapbox.tileLayer('cfpb.4da32f68', {errorTileUrl: '/static/basestyle/img/0.png'}),
            CountyLabels: L.mapbox.tileLayer('cfpb.becdd200', {errorTileUrl: '/static/basestyle/img/0.png'}),            
            MSALabels: L.mapbox.tileLayer('cfpb.5de9fd0f', {errorTileUrl: '/static/basestyle/img/0.png'}),
            PctMinority: L.mapbox.tileLayer('cfpb.b831eeca', {errorTileUrl: '/static/basestyle/img/0.png'}),
            PctHispanic: L.mapbox.tileLayer('cfpb.b5842925', {errorTileUrl: '/static/basestyle/img/0.png'}),
            PctBlack: L.mapbox.tileLayer('cfpb.58886e54', {errorTileUrl: '/static/basestyle/img/0.png'}),
            PctAsian: L.mapbox.tileLayer('cfpb.371a62d9', {errorTileUrl: '  /static/basestyle/img/0.png'}),
            PctWhite: L.mapbox.tileLayer('cfpb.6c9e98c4', {errorTileUrl: '/static/basestyle/img/0.png'}),
            Plurality: L.mapbox.tileLayer('cfpb.FL_TRACT_minor_plurality_US', {errorTileUrl: '/static/basestyle/img/0.png'}),
            MedianIncome: L.mapbox.tileLayer('cfpb.d08a14ab', {errorTileUrl: '/static/basestyle/img/0.png'}),
            OwnerOccupancy: L.mapbox.tileLayer('cfpb.6b1a095b', {errorTileUrl: '/static/basestyle/img/0.png'}),
            MedianValue: L.mapbox.tileLayer('cfpb.FL_TRACT_med-hse-val_US', {errorTileUrl: '/static/basestyle/img/0.png'}),
            MedianYearBuilt: L.mapbox.tileLayer('cfpb.FL_TRACT_med-yr-blt_US', {errorTileUrl: '/static/basestyle/img/0.png'}),
            Centroids: L.layerGroup([]),
            Branches: L.layerGroup([])
        };

        // Baselayers are created here and show up in our layer selector on the screen as radio buttons
        var baseLayers = {
            'Mapbox Base': layers.MBBase,
            'Contiguous US': layers.Base
        };

        // Overlay layers show up as checkboxes and can be enabled at the same time using the layer selector
        var overlays = {
            'Water': layers.Water,
            'Boundaries': layers.Boundaries,
            'MSA Labels': layers.MSALabels,
            'County Labels': layers.CountyLabels,
            'LAR Circles': layers.Centroids
        };

        // Setup the minimap
        var miniLayer = new L.mapbox.TileLayer('cfpb.k55b27gd', {minZoom: 0, maxZoom: 13 });
        var miniMap = new L.Control.MiniMap(miniLayer).addTo(map);

        // This array allows us to remove them from the map when a new one is selected (later)
        var minorityLayers = [layers.PctMinority, layers.PctHispanic, layers.PctBlack, layers.PctAsian, layers.PctWhite, layers.Plurality, layers.MedianIncome, layers.OwnerOccupancy, layers.MedianValue, layers.MedianYearBuilt];

        // Add all our primary default layers to the map up front
        layers.Base.addTo(map);
        layers.Water.addTo(map);
        layers.Boundaries.addTo(map);
        layers.CountyLabels.addTo(map);
        layers.PctMinority.addTo(map);

        // Create a layer for our circles
        layers.Centroids.addTo(map);
        // Create a layer for Branch Locations
        layers.Branches.addTo(map);

        // Add our +/- and layer controls to the top left - Removed for Print View
        // L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map); 
        // Add a mile scale
        L.control.scale().addTo(map);
        
        // Make sure water and boundaries are above everything else
        layers.Water.bringToFront();
        layers.PctMinority.bringToFront();
        layers.Boundaries.bringToFront();
        layers.CountyLabels.bringToFront();

        if( map.hasLayer(layers.MSALabels) ){
            layers.MSALabels.bringToFront();
        }

        // Add the HTML Template key as a key in the top right
        var key = L.control();
        key.onAdd = function() {
            return L.DomUtil.get('key');
        };
        key.setPosition('topright');
        key.addTo(map);
 
        var utfGrid = new L.UtfGrid('http://{s}.tiles.mapbox.com/v3/cfpb.FL_TRACT_per-min_US/{z}/{x}/{y}.grid.json?callback={cb}');
        utfGrid.addTo(map);      

    /* 
      END MAPBOX / LEAFLET CODE
    */

        
    </script>
    <script>
        $(document).ready(function(){
            var minorityVal = $('.map-divider-minor.active-layer').attr('id');
            $('#minorityValue').text( getLayerType(minorityVal).displayName);

            var loadParams = getHashParams();
            console.log("LH? ", loadParams.lh.values);
            // Show or Hide the lender / peer information if checked.
            if( loadParams.peers.values === 'true' ){
                $("#lenderPeersList").removeClass('hidden');
            }
            if( loadParams.lh.values == 'true' ){
                $("#lenderAffiliateList").removeClass('hidden');
            }
        });
    </script>

{% endblock %}
