<div id="map-aside-header__tabpanels" class="tabpanels">
    {% if lender %}
        <div id="map-aside__lender-details" class="map-aside__lender-details">
            <div class="map-divider"><h6 class="tab-title">Lender Details - HMDA {{ lender.year }} </div>
            <div id="lender-info" class="map-divider"><!-- lender-info ID is in a test, it needs to be changed in the test -->                
                <div class="header-group">
                    <h3 class="tab-main">{{ lender.name }}</h3>
                    <h6 class="item-sub inst-id">{{ lender.institution_id}}</h6>
                </div>
                <div class="header-group">
                    <h6 class="item-sub">Regulating Agency</h6>
                    <h6 class="item-main">{{ lender.agency.acronym }}</h6>    
                </div>
                <div class="header-group">
                    <h6 class="item-sub">Headquarters</h6>
                    <h6 class="item-main">{{ lender.zip_code.city }}, {{ lender.zip_code.state }}</h6>                   
                </div>

            </div>
            <div id="lender-branches" class="map-divider lighter">
                <input type="checkbox" id="branchSelect" style="display:inline-block"/><h6 class="header-name" style="display:inline-block">Show Branch Locations <span class="tooltipsy hidden branch-component" title="Locations are only shown for {{lender.name}} and will not include peers nor affiliates"><i class="cf-icon cf-icon-information-round"></i></span></h6> 
            </div>  

            {% if institution_hierarchy.count > 0 %}       
                <div id="lender-affiliates" class="map-divider lighter">
                    <input type="checkbox" id="superSelect" style="display:inline-block"/><h6 class="header-name" style="display:inline-block">Include Parent/Affiliate LAR</h6>
                </div>
                <div style="max-height:275px; overflow:scroll" class="map-divider lighter hidden" id="lender-affiliate-list">
                    {% for inst in institution_hierarchy %}
                        <div class="header-group divided">
                            <h6 class="item-main">{{ inst.institution.name }}</h6>
                            <h6 class="item-sub">{{ inst.institution.institution_id }}</h6>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div id="lender-affiliates" class="map-divider lighter">
                    <input type="checkbox" disabled=true style="display:inline-block"/><h6 class="header-name" style="display:inline-block">No Parents / Affiliates</h6>
                </div>                
            {% endif %}

            {% if institution_peers.count > 0 %}
                <div id="lender-peers" class="map-divider lighter">
                    <input type="checkbox" id="peerSelect" style="display:inline-block"/><h6 class="header-name" style="display:inline-block">Show Peer LAR ({{ institution_peers.count}} Peer{{ institution_peers.count|pluralize}}) <span class="tooltipsy hidden peer-component" title="A 'peer' is an institution that has <li class='tooltip-li'>Between 50% and 200% of the total HMDA LAR submissions of the selected entity; and</li><li class='tooltip-li'>A similar percentage of FHA applications in the selected MSA.</li> The LAR from the peer entities are aggregated and displayed on the map when 'Show Peer LAR' is selected. <a href='#''>Full Peer Details</a>"><i class="cf-icon cf-icon-information-round"></i></span></h6>
                </div>
                <div style="max-height:275px; overflow:scroll" class="map-divider lighter hidden" id="lender-peers-list">
                    {% for peer in institution_peers %}
                        <div class="header-group divided">
                            <h6 class="item-main">{{ peer.institution.name }}</h6>
                            <h6 class="item-sub">{{ peer.institution.institution_id }} | {{ peer.lar_count}} LAR</h6>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div id="lender-peers" class="map-divider lighter">
                    <input type="checkbox" disabled=true /><h6 class="header-name" style="display:inline-block">No Peers Available <span class="tooltipsy hidden peer-component" title="Peers are institutions that have between 50% and 200% of {{lender.name}} LAR count, and and a similar percentage of overall FHA Applications in {{ metro.name}}"><i class="cf-icon cf-icon-information-round"></i></span></h6>
                </div>  
            {% endif %}
    {% endif %}
        </div><!-- /.tabpanel -->
    {% if metro %}
        
        <div id="map-aside__msa-details" class="map-aside__msa-details">
            <div class="map-divider"><h6 class="tab-title">MSA Details</h6></div>
            <div class="map-divider">
                <h4>{{ metro.name }}</h4>
            </div> 
        </div>
    {% endif %}

    <div id="map-aside__download-export">
        <div class="map-divider darker"><h6 class="tab-title">Export Options</h6></div>
        
        <div class="map-aside__download">
            <div class="map-divider print-map">
                <div class="header-group">
                    <h3 class="tab-main">Print map exhibit</h3>
                    <h6 class="item-sub">Based on your current settings and selections</h6>
                    <p>
                        <a id="printLink" href="/map/print/" class="btn" target="mapPrintView">
                            <span class="btn_icon__left cf-icon cf-icon-print"></span>
                        Print
                        </a>
                    </p>
                </div>
            </div>
        {% if download_url %}
            <div class="map-divider download-csv">
                <div class="header-group">
                    <h3 class="tab-main">HMDA data</h3>
                    <h6 class="item-sub">Download the 2013 loan application records (LAR) for {{ lender.name }} in the {{ metro.name }} location for {{ lender.year }}.</h6>
                    <p>
                        <a target="_blank" id="downloadData" data-download="{{ download_url }}" data-super-download="{{ hierarchy_download_url }}" data-peer-download="{{ peer_download_url }}" href="{{ download_url}}"  class="btn btn__secondary">
                            <span class="btn_icon__left cf-icon cf-icon-download"></span>
                        Download CSV
                        </a>
                    </p>
                </div>
            </div>

        {% endif %}
            <div class="map-divider download-census">
                <div class="header-group">
                    <h3 class="tab-main">Census data</h3>
                    <h6 class="item-sub">Download the 2010 SF-1 Census demographic data for {{ metro.name }}. This download also includes LAR counts by tract, filtered as explained below.</h6>
                    <p>
                        <a target="_blank" id="downloadCensus" href="/census/race_summary_csv/"  class="btn btn__secondary">
                            <span class="btn_icon__left cf-icon cf-icon-download"></span>
                        Download CSV
                        </a>
                    </p>
                </div>
            </div>
            
        </div>


    </div><!-- /.tabpanel -->

    <div id="map-aside__msa-search" class="map-aside__msa-search">
        <div class="map-divider"><h6 class="tab-title">MSA Search</h6></div>
        <div style="padding:10px">
            <form action="{% url 'map' %}" method="GET">
                
                    <label for="geoid">Search and select a city:</label>
                    <input type="text" id="geoid">
                    <input type="hidden" name="lender" value="{{ lender.agency_id }}{{ lender.respondent_id }}">
                    <input type="hidden" id="msa-field" name="metro">
                    <button type="submit" id="metro-search__submit" class="btn btn__disabled" disabled>Go to MSA</button>
                
            </form>            
        </div>

    </div><!-- /.tabpanel -->

</div><!-- /.map-aside-header__tablist -->

<div class="map-aside__notes lighter">
    <h4>HMDA LAR volumes are filtered using first-lien (status=1), owner-occupied, 1-4 family or manufactured housing (types 1 and 2)</h4>
</div>
