{% load staticfiles %}
<div class="tabs">
    <ul id="map-aside-header__tablist" class="map-aside-header__tablist">
        <li><a href="#map-aside__msa-analysis" title="Analysis Themes" class="cf-icon-analysis-themes"><span class="cf-icon tab-icon"></span></a></li>
        {% if lender %}<li><a href="#map-aside__lender-details" title="Lender Details"><span class="cf-icon cf-icon-bank-account tab-icon"></span></a></li>{% endif %}
        <li><a href="#map-aside__summary-tables" title="Summary Tables"><span class="cf-icon cf-icon-chart tab-icon"></span></a></li>

        <li><a href="#map-aside__download-export" title="Download and Export"><span class="cf-icon cf-icon-download tab-icon"></span></a></li>
        <li><a href="#map-aside__msa-search" title="Zoom to another City"><span class="cf-icon cf-icon-search tab-icon"></span></a></li>
    </ul>
</div>