<!-- Begin: TR Template Definition. -->
<script type="text/template" class="row-template">
    <tr class="<%- data.className %>">
      <% if (!data.isMSA) { %>
          <td class="expander">
            <% if (data.isCounty && data.isTarget) { %>
              <span class="expandable_cue-open">
                  <span class="cf-icon cf-icon-plus-round"></span>
              </span>
              <span class="expandable_cue-close">
                  <span class="cf-icon cf-icon-minus-round"></span>
              </span>
            <% } %>
          </td>
      <% } %>

      <td class="name" <% if (data.isMSA) { %>colspan="2"<%}%> >
          <% if (data.isTarget) { %>
              <%-data.rowType%> <%-data.geoid%>
          <% } %>
      </td>

      <td class="chart-title">
        <% if (!data.isTract && data.showPeers) { %>
            <%-data.institutionType%>
        <%}%>
      </td>

      <td class="chart">
          <div class="bar">
              <div class="segment lma" style="width:<%-data.lma_pct%>%"></div>
              <div class="segment mma" style="width:<%-data.mma_pct%>%"></div>
              <div class="segment hma" style="width:<%-data.hma_pct%>%"></div>
          </div>
      </td>

      <td class="lar lma_ct"><%-data.lma%></td>
      <td class="lar mma_ct"><%-data.mma%></td>
      <td class="lar hma_ct"><%-data.hma%></td>
      <td class="lar lma_pct"><%-data.lma_pct%>%</td>
      <td class="lar mma_pct"><%-data.mma_pct%>%</td>
      <td class="lar hma_pct"><%-data.hma_pct%>%</td>


      <% if (data.showPeers) { %>
      <td class="odds_ratio">
        <% if (data.isTarget && !data.isTract) { %>
            <%-data.odds%>
        <% } %>
      </td>
      <% } %>
    </tr>
</script>
<!-- End: TR Template Definition. -->

<!-- BEGIN: Data table thead Template Definition. -->
 <script type="text/template" class="thead-template">
    <thead>
     <tr class="header-one">
         <th class="sorter-false title" colspan="4">Data Tables</th>
         <th class="sorter-false number" colspan="3">Number of Applications</th>
         <th class="sorter-false percentage" colspan="3">Percentage of Market</th>
         <% if (data.showPeers) { %>
         <th class="sorter-false odds"></th>
         <% } %>
     </tr>
     <tr class="sortable-header header-two">
         <th class="name" colspan="2" data-sortclass="name">
             <span class="sortable-content">Name</span> 
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="sorter-false name-span" colspan="2"></th>
         <th class="lar lma_ct" data-sortclass="lma_ct">
             <span class="color-coded sortable-content">LMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar mma_ct" data-sortclass="mma_ct">
             <span class="color-coded sortable-content">MMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar hma_ct" data-sortclass="hma_ct">
             <span class="color-coded sortable-content">HMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar lma_pct" data-sortclass="lma_pct">
             <span class="color-coded sortable-content">LMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar mma_pct" data-sortclass="mma_pct">
             <span class="color-coded sortable-content">MMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar hma_pct" data-sortclass="hma_pct">
             <span class="color-coded sortable-content">HMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <% if (data.showPeers) { %>
         <th class="odds_ratio lma_ratio" data-sortclass="odds_ratio">
             <span class="sortable-content">Odds Ratio</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>

         <% } %>
     </tr>
     </thead>
 </script>
<!-- END: Data table thead Template Definition. -->