<!-- Begin: TR Template Definition. -->
<script type="text/template" class="row-template">
    <tr class="<%- data.className %>">
      
      <td class="name" >
          <% if (!data.isPeer) { %>
              <% if (data.name) { %><%-data.name%><% } %> <%-data.rowType%> 
          <% } %>
      </td>

      <td class="chart-title">
        <% if (data.showPeers) { %>
            <%-data.isPeer ? 'Peers' : 'Target'%>
        <%}%>
      </td>

      <td class="chart">
          <div class="bar">
              <div class="segment lma" style="width:<%-data.lma_pct - .1 %>%"></div>
              <div class="segment mma" style="width:<%-data.mma_pct - .1 %>%"></div>
              <div class="segment hma" style="width:<%-data.hma_pct - .1 %>%"></div>
          </div>
      </td>

      <td class="lar tot_ct"><%-numeral(data.lma + data.mma + data.hma).format('0,0')%></td>
      <td class="lar lma_ct"><%-numeral(data.lma).format('0,0')%></td>
      <td class="lar mma_ct"><%-numeral(data.mma).format('0,0')%></td>
      <td class="lar hma_ct"><%-numeral(data.hma).format('0,0')%></td>
      <td class="lar maj_ct hma_ct"><%-numeral(data.mma + data.hma).format('0,0')%></td>
      <td class="lar lma_pct"><%-data.lma_pct%>%</td>
      <td class="lar mma_pct"><%-data.mma_pct%>%</td>
      <td class="lar hma_pct"><%-data.hma_pct%>%</td>
      <td class="lar hma_pct"><%-data.maj_pct%>%</td>


      <% if (data.showPeers) { %>
        <% if (!data.isPeer) { %>
          <td class="odds_ratio lma_ratio">  
          <%-data.odds_lma%>
          </td>
          <td class="<%-getOddsClass(data.odds_mma)%> odds_ratio mma_ratio">  
          <%-data.odds_mma%>
          </td>
          <td class="<%-getOddsClass(data.odds_hma)%> odds_ratio hma_ratio">  
          <%-data.odds_hma%>
          </td>    
          <td class="<%-getOddsClass(data.odds_maj) %> odds_ratio maj_ratio hma_ratio">  
          <%-data.odds_maj%>
          </td>        
        <% } else { %>
          <td class="odds_ratio lma_ratio"></td>
          <td class="odds_ratio mma_ratio"></td>
          <td class="odds_ratio hma_ratio"></td>
          <td class="odds_ratio hma_ratio maj_ratio"></td>
        <% } %>
      <% } %>
    </tr>
</script>
<!-- End: TR Template Definition. -->

<!-- BEGIN: Data table thead Template Definition. -->
 <script type="text/template" class="thead-template">
    <thead>
     <tr class="header-one">
        <th class="sorter-false title" colspan="3">
        <% if (data.showPeers) { %>
          Peer Summary
        <% } else { %>
          Basic Summary
        <% } %>
          Data Tables</th>
         <th class="sorter-false number center-header" colspan="5">Number of Applications</th>          
        <% if (data.showPeers) { %>
          <th class="sorter-false percentage center-header" colspan="4">Percentage of Market</th>
          <th class="sorter-false odds center-header" colspan="4">Odds Ratio <span class="tooltipsy" title="Odds Ratio is a calculated ratio of loans from the selected lender to average peer loans in this area."><i class="cf-icon cf-icon-information-round"></i></span> <span id="closeTable" class="table-action cf-icon cf-icon-delete"></span></th>
        <% } else { %>
          <th class="sorter-false percentage center-header" colspan="4">Percentage of Market <span id="closeTable" class="table-action cf-icon cf-icon-delete"></span></th>
          <% } %>
     </tr>
     <tr class="sortable-header header-two">
         <th class="name" colspan="2" data-sortclass="name">
             <span class="sortable-content">Name</span> 
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
        <th class="sorter-false name-span" ></th>
         <th class="lar tot_ct" data-sortclass="lar_total">
             <span class="color-coded sortable-content">Tot</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar lma_ct" data-sortclass="lma_ct">
             <span class="color-coded sortable-content tooltipsy" title="Low Minority Areas: < 50% minority population">LMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar mma_ct" data-sortclass="mma_ct">
             <span class="color-coded sortable-content tooltipsy" title="Mixed Minority Areas: 50% - 80% minority population">MMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar hma_ct" data-sortclass="hma_ct">
             <span class="color-coded sortable-content tooltipsy" title="High Minority Areas: 80% - 100% minority population">HMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
        <th class="lar maj_ct hma_pct" data-sortclass="maj_ct">
             <span class="color-coded sortable-content tooltipsy" title="Majority Minority Areas: > 50% minority population">Maj</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar lma_pct" data-sortclass="lma_pct">
             <span class="color-coded sortable-content tooltipsy" title="Low Minority Areas: < 50% minority population">LMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar mma_pct" data-sortclass="mma_pct">
             <span class="color-coded sortable-content tooltipsy" title="Mixed Minority Areas: 50% - 80% minority population">MMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar hma_pct" data-sortclass="hma_pct">
             <span class="color-coded sortable-content tooltipsy" title="High Minority Areas: 80% - 100% minority population">HMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="lar hma_pct maj_ct" data-sortclass="maj_ct">
           <span class="color-coded sortable-content tooltipsy" title="Majority Minority Areas: > 50% minority population">Maj</span>
           <div class="arrows">
               <div class="cf-icon cf-icon-up"></div>
               <div class="cf-icon cf-icon-down"></div>
           </div>
         </th>
         <% if (data.showPeers) { %>
         <th class="odds_ratio lma_ratio">
             <span class="color-coded sortable-content tooltipsy" title="Low Minority Areas: < 50% minority population">LMA</span>
             <div class="arrows">
                 <div class="cf-icon cf-icon-up"></div>
                 <div class="cf-icon cf-icon-down"></div>
             </div>
         </th>
         <th class="odds_ratio mma_ratio">
              <span class="color-coded sortable-content tooltipsy" title="Mixed Minority Areas: 50% - 80% minority population">MMA</span>
              <div class="arrows">
                  <div class="cf-icon cf-icon-up"></div>
                  <div class="cf-icon cf-icon-down"></div>
              </div>
          </th>
          <th class="odds_ratio hma_ratio">
              <span class="color-coded sortable-content tooltipsy" title="High Minority Areas: 80% - 100% minority population">HMA</span>
              <div class="arrows">
                  <div class="cf-icon cf-icon-up"></div>
                  <div class="cf-icon cf-icon-down"></div>
              </div>
          </th>
          <th class="lar maj_ct hma_pct" data-sortclass="maj_ct">
           <span class="color-coded sortable-content tooltipsy" title="Majority Minority Areas: > 50% minority population">Maj</span>
           <div class="arrows">
               <div class="cf-icon cf-icon-up"></div>
               <div class="cf-icon cf-icon-down"></div>
           </div>
         </th>
         <% } %>
     </tr>
     </thead>
 </script>
<!-- END: Data table thead Template Definition. -->
