
<div class="map-header__wrapper">
    <div class="map_header__map-title" class="map-title">
        {% if lender %}
            <span><strong>{{ lender.name}}</strong></span>
        {% endif %}
        {% if metro %}
            <span class="msa-name">{{ metro.name }}</span>
        {% endif %}
    </div>

    <div id="map-header__lock-msa" class="map-header__lock-msa">
        {% if metro %}
            <label for="enforce-bounds" class="locked">Limit to MSA</label>
            <input type="checkbox" id="enforce-bounds" checked="checked"
                 data-min-lat="{{metro.minlat}}"
                 data-max-lat="{{metro.maxlat}}"
                 data-min-lon="{{metro.minlon}}"
                 data-max-lon="{{metro.maxlon}}" >
        {% endif %}
    </div>
</div>