<div class="tabs">
    <ul id="map-aside-header__tablist" class="map-aside-header__tablist">
        {% if lender %}<li><a href="#lender-details" title="Lender info"><span class="fa fa-info-circle"></span></a></li>{% endif %}
        {% if metro %}<li><a href="#" title="Metro info"><span class="fa fa-map-marker"></span></a></li>{% endif %}
        <li><a href="#" title="Download and Export"><span class="fa fa-download"></span></a></li>
        <li><a href="#" title="Zoom to another City"><span class="cf-icon cf-icon-search"></span></a></li>
    </ul>
</div>