@font-face {
  font-family: 'CFPB Minicons';
  src: url('../font/cf-icons.eot');
  src: url('../font/cf-icons.eot?#iefix') format('embedded-opentype'), url('../font/cf-icons.woff') format('woff'), url('../font/cf-icons.ttf') format('truetype'), url('../font/cf-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: block;
}

#map {
  height: 500px;
  border-bottom: 1px solid #000;
}


#map .hover-box {
  position: absolute;
  bottom: 85px;
  left: 50px;
  z-index: 1002;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #ccc;
}


#key {
  width: 300px;
  border: solid 1px #000;
  background: #fff;
  padding: 10px;
}

#key label {
  font-size: larger;
  font-weight: bold;
}

#minority-key {
  width: 100%;
  margin-top: 5px;
  background-image: url(choropleth-key.svg);
  /*background: linear-gradient(to right, #ffffd9, #c6eab2 50%, #0e90c2 80%, #1d5caa);*/
}

#key select {
  width: 100%;
  margin-top: 10px;
  font-size: large;
}

#percentage-container .left {
  display: inline-block;
  width: 25%;
}
#percentage-container .center {
  display: inline-block;
  width: 50%;
  text-align: center;
}
#percentage-container .right {
  display: inline-block;
  width: 25%;
  text-align: right;
}


/* Map Footer */
#lender-info, #lower-right-icons {
  margin-top: 0.5em;
  margin-left: 5em;
  margin-right: 5em;
  font-family: "Avenir Next W01", Arial, sans-serif;
}
#lender-info h2 {
  margin-bottom: 0;
}
#lender-info .lender-id {
  font-size: small;
}
#lender-info table {
  margin-top: 0.5em;
}
#lender-info th {
  vertical-align: top;
  padding-bottom: 0.25em;
}
#lender-info td {
  padding-bottom: 0.25em;
}
#lower-right-icons {
  float: right;
}
#download-data {
  border-bottom: 0;
  color: #000;
  font-size: 24px;
}
#take-screenshot {
  border-bottom: 0;
  color: #000;
  font-size: 18px;
  margin-right: 1em;
}
#download-data:before {
  font-family: 'CFPB Minicons';
  content: '\e610';
}
.vex-dialog-message h2 {
  font-weight: bold;
  font-size: larger;
}

/* Map header */
#map-header {
  background-color: #d0e5ca;
  border-bottom: 4px solid #2cb34a;
  padding: 0.5em 0;
  min-height: 4em;
}
#map-header .map-type {
  font-weight: bold;
  text-transform: uppercase;
}
#map-header a {
  color: #f00;
  border-bottom: none;
  text-transform: uppercase;
}
#lock-map-container {
  float: right;
  margin-top: 0.5em;
}
#lock-map-container label {
  padding-right: 10px;
  line-height: 30px;
  vertical-align: top;
}

#lock-map-container label:after {
  font-family: 'CFPB Minicons';
  content: "\e635  \e632";
  font-size: 30px;
  margin-left: 10px;
}
#lock-map-container label.locked:after {
  font-family: 'CFPB Minicons';
  content: "\e634  \e633";
  font-size: 30px;
  margin-left: 10px;
}
#lock-map-container input {
  display: none;
}
