{% load leaflet_tags %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Mapusaurus</title>
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static 'mapping/css/map.css' %}" />
        <link rel="stylesheet" href="{% static 'mapping/lib/rrose/leaflet.rrose.css' %}" />
        <link rel="stylesheet" href="{% static 'mapping/lib/leaflet-search/css/leaflet-search.css' %}" />
        {% block custom_css %}{% endblock %}
    </head>
    <body>
        {% block page_header %}{% endblock %}

        <section id="content" class="content cf">
            {% if metro %}
            <main role="main" 
                  data-cent-lat="{{metro.centlat}}"
                  data-cent-lon="{{metro.centlon}}">
            {% else %}
            <main role="main">
            {% endif %}
                {% leaflet_map "map" callback="Mapusaurus.initialize"%}
            </main>
        </section>

        <section id="key">
            <label for="minority-key">Percentage "Minority"</label>
            <div id="minority-key">&nbsp;</div>
            <div id="percentage-container"><span 
                class="left">0%</span><span
                class="center">50%</span><span
                class="right">100%</span></div>
            <select id="style-selector" class="hidden">
                <option value="minorityContinuousStyle" selected>Continuous</option>
                <option value="minorityBucketedStyle">Bucketed</option>
            </select>
            <select id="category-selector">
                <option value="inv_non_hisp_white_only_perc" selected>All "Minority" Groups</option>
                <option value="hispanic_perc">Hispanic</option>
                <option value="non_hisp_black_only_perc">Non-Hispanic Black Only</option>
                <option value="non_hisp_asian_only_perc">Non-Hispanic Asian Only</option>
                <option value="non_hisp_white_only_perc">Non-Hispanic White Only</option>
            </select>
            <select id="bubble-selector" class="hidden">
                <option value="9_volume" selected>Absolute Number of Loans</option>
                <option value="100_volume_per_100_households">Normalized per Households</option>
            </select>
            {% if metro %}
            <select id="enforce-bounds-selector"
                  data-min-lat="{{metro.minlat}}"
                  data-max-lat="{{metro.maxlat}}"
                  data-min-lon="{{metro.minlon}}"
                  data-max-lon="{{metro.maxlon}}">
                <option value="enforceBounds" selected>Limit Map to
                {{ metro.name }}</option>
                <option value="disableBounds">Do Not Limit Map to
                {{ metro.name }}</option>
            </select>
            {% endif %}
        </section>

        {% if lender %}
        <section id="lender-info">
            <h2>{{ lender.name}}</h2>
            <span class="lender-id">{{ lender.ffiec_id }} ({{ lender.agency.acronym }})</span>
            <table>
                <tr>
                    <th>Address</th>
                    <td>{{ lender.mailing_address }}<br />
                      {{lender.zip_code.city}}, {{lender.zip_code.state}}
                      {{lender.zip_code.zip_code }}</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>{{ lender.year }}</li>
                </tr>
            </table>
        </section>
        {% endif %}

        {% leaflet_js %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script type="text/javascript" src="{% static 'mapping/lib/rrose/rrose-src.js' %}"></script>
        <script type="text/javascript" src="{% static 'mapping/lib/geojsontile/TileLayer.GeoJSON.js' %}"></script>
        <script type="text/javascript" src="{% static 'mapping/lib/leaflet-search/js/leaflet-search.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'mapping/js/map.js' %}"></script>
    </body>
</html>
