{% load leaflet_tags %}
{% load staticfiles %}
<!DOCTYPE HTML>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Mapusaurus</title>
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static 'mapping/css/map.css' %}" />
        {% block custom_css %}{% endblock %}
    </head>
    <body>
        {% block page_header %}{% endblock %}

        <section id="content" class="content cf">
            <main role="main">
                {% leaflet_map "map" callback="Mapusaurus.initialize"%}
            </main>
        </section>

        {% leaflet_js %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script type="text/javascript" src="{% static 'mapping/js/map.js' %}"></script>
    </body>
</html>
