{% load leaflet_tags %}
{% load staticfiles %}
<!DOCTYPE HTML>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Mapusaurus</title>
        {% leaflet_css %}
        <link rel="stylesheet" href="{% static 'mapping/css/map.css' %}" />
        <link rel="stylesheet" href="{% static 'mapping/lib/rrose/leaflet.rrose.css' %}" />
        {% block custom_css %}{% endblock %}
    </head>
    <body>
        {% block page_header %}{% endblock %}

        <section id="content" class="content cf">
            <main role="main">
                {% leaflet_map "map" callback="Mapusaurus.initialize"%}
            </main>
        </section>

        <section id="key">
            <label for="minority-key">Percentage "Minority"</label>
            <div id="minority-key">&nbsp;</div>
            <div id="percentage-container"><span 
                class="left">0%</span><span
                class="center">50%</span><span
                class="right">100%</span></div>
            <select id="style-selector">
                <option value="minorityContinuousStyle" selected>Continuous</option>
                <option value="minorityBucketedStyle">Bucketed</option>
            </select>
        </section>


        {% leaflet_js %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script type="text/javascript" src="{% static 'mapping/lib/rrose/rrose-src.js' %}"></script>
        <script type="text/javascript" src="{% static 'mapping/js/map.js' %}"></script>
    </body>
</html>
