{% extends "basestyle/map_layout.html" %}
{% load staticfiles %}

{% block title %}Fair Lending HMDA Visualization Toolkit - {{lender}}{% endblock %}

{% block head_styles %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
    <link rel="stylesheet" href="{% static 'mapping/css/vendor.css' %}" />

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}


{% block main_content %}
<div id="map-container">
    <div id="map"
        {% if metro %} 
            data-cent-lat="{{metro.centlat}}"
            data-cent-lon="{{metro.centlon}}"
            data-geoid="{{metro.geoid}}"
        {% endif %}
    >
    {% include 'partial/map_key.html'%}    
    </div>
</div>


{% endblock %}

{% block foot_scripts %}
    
    <script>
    
        setMapHeight();
        
        L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
        
        var map = L.mapbox.map('map')
        map.options.maxZoom = 12;
        map.options.minZoom = 9;

        {% if metro %}
            map.setView(["{{metro.centlat}}", "{{metro.centlon}}"], 11);
        {% else %}
            map.setView([40, -74.50], 11);
        {% endif %}

        var layers = {
            Base: L.mapbox.tileLayer('cfpb.fi6hia4i'),
            Water: L.mapbox.tileLayer('cfpb.FL_WATER_all_US'),
            Boundaries: L.mapbox.tileLayer('cfpb.FL_BORDERS_all_US'),
            CountyLabels: L.mapbox.tileLayer('cfpb.1mkotj4i'),
            MSALabels: L.mapbox.tileLayer('cfpb.FL_MSA_labels'),
            PctMinority: L.mapbox.tileLayer('cfpb.FL_TRACT_per-min_US'),
            PctHispanic: L.mapbox.tileLayer('cfpb.FL_TRACT_per-hsp_US'),
            PctBlack: L.mapbox.tileLayer('cfpb.FL_TRACT_per-blk_US'),
            PctAsian: L.mapbox.tileLayer('cfpb.FL_TRACT_per-asn_US'),
            PctNonWhite: L.mapbox.tileLayer('cfpb.FL_TRACT_pct_nhwht_US'),
            Centroids: L.layerGroup([])
        };

        var baseLayers = {
            'Contiguous US': layers.Base
        };
        var overlays = {
            'Water': layers.Water,
            'Boundaries': layers.Boundaries,
            'MSA Labels': layers.MSALabels,
            'Percentage Minority': layers.PctMinority,
            'Percentage Hispanic': layers.PctHispanic,
            'Percentage Black': layers.PctBlack,
            'Percentage Asian': layers.PctAsian,
            'Percentage Non-white': layers.PctNonWhite,
            'County Labels': layers.CountyLabels
        };

        var minorityLayers = [layers.PctMinority, layers.PctHispanic, layers.PctBlack, layers.PctAsian, layers.PctNonWhite];

        layers.Base.addTo(map);
        layers.CountyLabels.addTo(map);
        layers.Water.addTo(map);
        layers.PctMinority.addTo(map);
        layers.Boundaries.addTo(map);
        layers.Centroids.addTo(map);
        L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map); 

        // Add the HTML Template key as a key in the top right
        var key = L.control();
        key.onAdd = function() {
            return L.DomUtil.get('key');
        };
        key.setPosition('topright');
        key.addTo(map);

    $(document).ready(function(){

        $('.tabs').mapusaurusTabs();
        $('.tabs').show();

        $( window ).resize(function() {
            setMapHeight();
        });

        //Let the application do its thing 
        init();

        // When the user has stopped moving the map, run init, with a slight delay
        map.on('moveend', _.debounce(init, 250) );
        // When the user changes the action taken data selector, re-initialize
        $('#action-taken-selector').on('change', _.debounce(init, 250) );

        // When minority changes, redraw the circles with appropriate styles
        $('#category-selector').on('change', function(e) {
            val = $('#category-selector option:selected').val();

            switch( val ){
                case 'inv_non_hisp_white_only_perc':
                    layerUpdate( layers.PctMinority );
                    break;
                case 'hispanic_perc':
                    layerUpdate( layers.PctHispanic );
                    break;
                case 'non_hisp_black_only_perc':
                    layerUpdate( layers.PctBlack );
                    break;
                case 'non_hisp_asian_only_perc':
                    layerUpdate( layers.PctAsian );
                    break;
                case 'non_hisp_white_only_perc':
                    layerUpdate( layers.PctNonWhite );
                    break;
            }
           
        });
        
    });
    
    // Go get the data and draw the circles
    // TODO: Chain these using deferreds to avoid callback hell    
    function init(){
        $.when( getTractsInBounds( getBoundParams() ), getTractData( getBoundParams(), getActionTaken( $('#action-taken-selector option:selected').val() ))).done( function(data1, data2){
            rawGeo = data1[0];
            rawData = data2[0];
            createTractDataObj(); 
            redrawCircles(dataStore.tracts);
            $('#bubbles_loading').hide();
        });
    }

    function setMapHeight() {
        /* Set the map div to the height of the browser window minus the header. */
        var viewportHeight = $(window).height();
        var warningBannerHeight = $('#warning-banner').outerHeight();
        var headerHeight = $('#header').outerHeight();
        var mapHeaderHeight = $('#map-header').outerHeight();
        var mapHeight = (viewportHeight - (warningBannerHeight + headerHeight + mapHeaderHeight));
        $('#map-aside').css('height', mapHeight);
        $('#map').css('height', mapHeight);
    }

    /* 
        GET THE DATA THE PAGE NEEDS TO LOAD
    */    

    var rawGeo, rawLar, rawMinority, rawData,
    dataStore = {};
    dataStore.tracts = {};
    
    function getTractsInBounds( bounds, callback ){
        //TODO: Modify parameters for this endpoint to take param hooks instead of forward slash

        $('#bubbles_loading').show();

        // Create the appropriate URL path to return values
        var endpoint = '/shapes/tractCentroids/' + bounds.neLat + '/' + bounds.neLon + '/' + bounds.swLat + '/' + bounds.swLon;
        
        return $.ajax({
            url: endpoint, traditional: true,
            success: console.log('tract Get successful')
        });

        if( typeof callback === 'function' && callback() ){
            callback;
        }

    }    

    function getTractData( bounds, actionTakenVal, callback ){
        $('#bubbles_loading').show();
        var endpoint = '/api/all/',
            params = { year: 2013,
                        neLat: bounds.neLat,
                        neLon: bounds.neLon,
                        swLat: bounds.swLat,
                        swLon: bounds.swLon };

        // Check to see if another year has been requested other than the default
        if ( urlParam('year') ){
            params.year = urlParam('year');
        }

        // Set the lender parameter based on the current URL param
        if ( urlParam('lender') ){
            params['lender'] = urlParam('lender');
        } else {
            console.log(' Lender parameter is required.');
            return false;
        }

        // If actionTaken, go get data, otherwise
        // let the user know about the default value
        if ( actionTakenVal ) {
            params['action_taken'] = actionTakenVal;
        } else {
            console.log('No action taken value - default (1-5) will be used.');
        }

        return $.ajax({
            url: endpoint, data: params, traditional: true,
            success: console.log('get API All Data request successful')
        });

        if( typeof callback === 'function' && callback() ){
            callback;
        }
    }

    function createTractDataObj( callback ){
        
        // For each top-level data element returned (minority, loanVolume)
        _.each( rawGeo.features, function(feature, key){
            // Loop through each tract and merge the dataset (this could be done server side as well if faster)
            // Make sure the tracts object exists before writing to it.
            var geoid = feature.properties.geoid;
            dataStore.tracts[geoid] = feature.properties;
            _.extend( dataStore.tracts[geoid], rawData.minority[geoid] );

            if( typeof rawData.loanVolume[geoid] != 'undefined'){
                _.extend( dataStore.tracts[geoid], rawData.loanVolume[geoid] );
            } else {
                dataStore.tracts[geoid].volume = 0;
            }

        });

        if( typeof callback === 'function' && callback() ){
            callback;
        }
    }

    function createDataObj( data, callback ){
        //Empty out the county store to redraw
        dataStore.counties = [];
        dataStore.tractList = [];

        console.log( 'tract data: ', data );
        
        //Loop through features to create the geoid object
        _.each( data.features, function( feature ){
            var geoid = feature.properties.geoid;
            dataStore.tracts[geoid] = feature.properties;
            dataStore.tractList.push( geoid );

            //Store the counties each time so you get all your data in a single run through
            var county5char = feature.properties.state + feature.properties.county;
            dataStore.counties.push( county5char );
        });

        if( typeof callback === 'function' && callback() ){
            callback;
        }
    }

    function getLarDataByCounty( actionTakenVal, counties, callback ){
        var endpoint = '/hmda/volume',
            params;

        params = {'county': getUniques( counties )};

        // Set the lender parameter based on the current URL param
        // This could be set as a parameter later if need be
        if ( urlParam('lender')) {
            params['lender'] = urlParam('lender');
        }

        // If our parameter is passed properly, go get data, otherwise
        // return an error that no parameter is available.
        if ( actionTakenVal ) {
            params['action_taken'] = actionTakenVal;
            console.log('params: ', params);
            $.ajax({
                url: endpoint, data: params, traditional: true,
                success: console.log('getLarData request successful')
            })
            .fail( function(data){
                console.log('There was an error with your request', params );
            })
            .done( function(data){
                console.log('larbyCountyData: ', data);
                rawLar = data;
                if( typeof callback === 'function' && callback() ){
                    callback;
                }
            });
        } else {
            console.log('Error: no action taken value');
        }
    }
    function getLarDataByTract( actionTakenVal, tractList, callback ){
        var endpoint = '/hmda/volume',
            params;

        params = {'geoid': tractList};

        // Set the lender parameter based on the current URL param
        // This could be set as a parameter later if need be
        if ( urlParam('lender')) {
            params['lender'] = urlParam('lender');
        }

        // If our parameter is passed properly, go get data, otherwise
        // return an error that no parameter is available.
        if ( actionTakenVal ) {
            params['action_taken'] = actionTakenVal;
            console.log('params: ', params);
            $.ajax({
                url: endpoint, data: params, traditional: true,
                success: console.log('getLarData request successful')
            })
            .fail( function(data){
                console.log('There was an error with your request', params );
            })
            .done( function(data){
                console.log(data);
                rawLar = data;
                if( typeof callback === 'function' && callback() ){
                    callback(data);
                }
            });
        } else {
            console.log('Error: no action taken value');
        }
    }

    function addLarToDataStore( data, callback ){
        _.each( dataStore.tracts, function(num, key){
            //console.log('num: ', num);
            num.layer_loanVolume = {};
            if( typeof data[key] != 'undefined' ){
                num.layer_loanVolume = data[key];
            } else {
                num.layer_loanVolume.volume = 0;
            }
            
        });
        if( typeof callback === 'function' && callback() ){
            callback;
        }
    }

    function getMinorityData(counties, callback){
        var endpoint = '/census/race-summary',
            params;

        params = {'county': getUniques( counties )};    

        $.ajax({
            url: endpoint, data: params, traditional: true,
            success: console.log('getLarData request successful')
        })
        .fail( function(data){
            console.log('There was an error with your request', params );
        })
        .done( function(data){
            rawMinority = data;
            if( typeof callback === 'function' && callback() ){
                callback(data);
            }
        });        
    }

    function addMinorityToDataStore( data, callback ){
        _.each( dataStore.tracts, function(num, key){
            //console.log('num: ', num);
            num.layer_minority = {};
            if( typeof data[key] != 'undefined' ){
                num.layer_minority = data[key];
            } else {
                console.log(' no data available for tract ');
            }
        });  
        if( typeof callback === 'function' && callback() ){
            callback;
        }      
    }
    /*
        END GET DATA SECTION
    */

    /*
        ---- STYLE THE CIRCLES BASED ON MINORITY ----
    */

    var baseStyle = { fillOpacity: 0.9, weight: 0.5, className: 'lar-circle', fillColor: '#333' };
    
    //  population-less tracts
    var noStyle = {stroke: false, weight: 0, fill: false};
    
    function minorityContinuousStyle(geoProps, baseStyle) {
        return minorityStyle(
            geoProps, 
            function(minorityPercent, bucket) {
                return (minorityPercent - bucket.lowerBound) / bucket.span;
            },
            baseStyle
        );
    }

    //  Shared function for minority styling; called by the two previous fns
    function minorityStyle(geoProps, percentFn, baseStyle) {
        var geoid = geoProps.geoid,
            tract = dataStore.tracts[geoid];
        // Different styles for when the tract has zero pop, or
        // we have percentages of minorities
        if (tract['total_pop'] === 0 || tract.volume === 0 ) {
            return noStyle;
        } else {
            var perc = minorityPercent(tract),
                bucket = toBucket(perc),
                // convert given percentage to percents within bucket's bounds
                bucketPercent = percentFn(perc, bucket);
            return $.extend({}, baseStyle, {
                fillColor: colorFromPercent(bucketPercent,
                                           bucket.colors)
            });
        }
    }

    // This function returns only the fill color after a minority is changed.
    function updateMinorityCircleFill(geoid){
        var tract = dataStore.tracts[geoid];
        // Different styles for when the tract has zero pop, or
        // we have percentages of minorities
        if (tract['total_pop'] === 0 || tract.volume === 0 ){
            return noStyle;
        } else {
            var perc = minorityPercent(tract),
                bucket = toBucket(perc),
                // convert given percentage to percents within bucket's bounds
                bucketPercent = percentFn(perc, bucket);
            return colorFromPercent(bucketPercent, bucket.colors);
        }    
    }

    function percentFn(minorityPercent, bucket) {
                return (minorityPercent - bucket.lowerBound) / bucket.span;
    }

    //  Using the selector, determine which statistic to display.
    function minorityPercent(tractData) {
        var fieldName = $('#category-selector').val();
        if (fieldName.substring(0, 4) === 'inv_') {
            return 1 - tractData[fieldName.substr(4)];
        } else {
            return tractData[fieldName];
        }
    }

    var colorRanges = [
        {
            span: 0.5,
            lowerBound: 0,
            colors: {
                lowR: 107,
                lowG: 40,
                lowB: 10,
                highR: 250,
                highG: 186,
                highB: 106
            }
        },
        {
            span: 0.5,
            lowerBound: 0.5,
            colors: {
                lowR: 124,
                lowG: 198,
                lowB: 186,
                highR: 12,
                highG: 48,
                highB: 97
            }
        }
    ]

    function toBucket(percent) {
        var i,
            len = colorRanges.length;
        for (i = 0; i < len - 1; i++) {
            //  Next bucket is too far
            if (colorRanges[i + 1].lowerBound > percent) {
                return colorRanges[i];
            }
        } 
        return colorRanges[len - 1];  //  last color
    };

    /* Given low and high colors and a percent, figure out the RGB of said
     * percent in that scale */
    function colorFromPercent(percent, c) {
        var diffR = (c.highR - c.lowR) * percent,
            diffG = (c.highG - c.lowG) * percent,
            diffB = (c.highB - c.lowB) * percent;
        return 'rgb(' + (c.lowR + diffR).toFixed() + ', ' +
               (c.lowG + diffG).toFixed() + ', ' +
               (c.lowB + diffB).toFixed() + ')';
    }

    /*
        END STYLE SECTION
    */

    /* 
        ---- DRAW CIRCLES ----
    */

    function redrawCircles( geoData ){
        // Remove circles currently on the page (TODO: Add as LayerGroup and transition)
        $('#bubbles_loading').show();
        $('.lar-circle').remove(); 
        layers.Centroids.clearLayers();
        _.each(geoData, function(geo) {
            var bubble = drawCircle(geo);
        });
        $('#bubbles_loading').hide();
    }

    function updateCircles(){
        //TODO: Figure out best way to update colors of existing, not redraw to reduce lag
        layers.Centroids.eachLayer( function(layer){
            layer.setStyle({fillColor: updateMinorityCircleFill(layer.geoid) });
        });
        console.log("color update complete.");
    }

    function drawCircle(geo){
        var data = geo,
            style = minorityContinuousStyle(
               geo, baseStyle),
            circle = L.circle([geo.centlat, geo.centlon],
                              hmdaStat(data), style );
        //  We will use the geoid when redrawing
        circle.geoid = geo.geoid;
        circle.on('mouseover mousemove', function(e){
            new L.popup()
              .setContent(data['volume'] + ' records<br />' + data['num_households'] + ' households')
              .setLatLng(e.latlng)
              .openOn(map);
        });
        circle.on('mouseout', function(){ 
            map.closePopup();
        });
        layers.Centroids.addLayer(circle);
    }

    /*
        END STYLE SECTION
    */

    /* 
        ---- UTILITY FUNCTIONS ----

    */

    //Scales statistical data to the appropriate level
    function hmdaStat(tractData) {
        var $selected = $('#action-taken-selector option:selected'),
            fieldName = $selected.val(),
            scale = $selected.data('scale'),
            area = scale * tractData['volume'];
        //  As Pi is just a constant scalar, we can ignore it in this
        //  calculation: a = pi*r*r   or r = sqrt(a/pi)
            return Math.sqrt(area);
    }

    function layerUpdate( layer ){
        if ( !layer ){
            console.log('The layer you\'ve requested does not exist.');
        }
        for (var i = minorityLayers.length - 1; i >= 0; i--) {
            map.removeLayer(minorityLayers[i]);
        };
        map.addLayer( layer );
        layers.Water.bringToFront();
        layers.Boundaries.bringToFront();
        updateCircles();
    }

    function urlParam(field) {
        var url = window.location.search.replace('?', ''),
            keyValueStrs = url.split('&'),
            pairs = _.map(keyValueStrs, function(keyValueStr) {
                return keyValueStr.split('=');
            }),
            params = _.reduce(pairs, function(soFar, pair) {
                if (pair.length === 2) {
                    soFar[pair[0]] = pair[1];
                }
                return soFar;
            }, {});
        return params[field];
    }

    // Parameter helper function
    function getActionTaken( value ){
        var actionTaken;

        switch (value) {
            case 'all-apps-5': 
                actionTaken = '1,2,3,4,5';
                break; 
            case 'all-apps-6': 
                actionTaken = '1,2,3,4,5,6';
                break; 
            case 'originations-1': 
                actionTaken = '1';
                break; 
        }
        return actionTaken;
    }

    function getBoundParams(){
        var bounds = map.getBounds();
        padding = .05;
        console.log(bounds);
        return { neLat: (bounds._northEast.lat + padding).toFixed(6),
                neLon: (bounds._northEast.lng + padding).toFixed(6),
                swLat: (bounds._southWest.lat - padding).toFixed(6),
                swLon: (bounds._southWest.lng - padding).toFixed(6)
            }
    }

    function getUniques( arr ){
        return _.uniq( arr );
    }

    /* 
        END UTILITY FUNCTIONS
    */

    /* 
        ---- MAP TABS - SEPARATE LATER ----
    */

    (function( $ ) {
      $.fn.mapusaurusTabs = function() {

        var tabList = this.find('> ul');
        var tabPanel = $('#map-aside-header__tabpanels > div');

        //console.log(tabList);
        //console.log(tabPanel);

        // Hide all the inactive tab panels. They are not hidden by CSS for 508 compliance
        tabPanel.hide();
        tabPanel.first().show().addClass('active');

        // Set the first tab to dark green

        tabList.find('a').first().addClass('active');
        
        //set the default aria attributes to the tab list
        tabList.attr('role', 'tablist');
        tabList.find('li').attr('role', 'presentation');
        tabList.find('a').attr('role', 'tab').attr('aria-selected', 'false').attr('aria-expanded', 'false').attr('tabindex', '-1');
        tabList.find('a').first().attr('aria-selected', 'true').attr('aria-expanded', 'true').attr('tabindex', '0');

        // add the default aria attributes to the tab panel
        tabPanel.attr('role', 'tabpanel').attr('aria-hidden', 'true').attr('tabindex', '-1');
        tabPanel.first().attr('aria-hidden', 'false').attr('tabindex', '0');

        // create IDs for each anchor for the area-labelledby
        tabList.find('a').each(function() {
          var tabID = $( this ).attr('href').substring(1);
          //console.log(tabID);
          $(this).attr('id','tablist-' + tabID).attr('aria-controls', tabID);
        });

        tabPanel.each(function() {
          //console.log( index + ': ' + $( this ).attr('href').substring(1) );
          var tabID = 'tablist-' + $( this ).attr('id');
          //console.log(tabID);
          $(this).attr('aria-labelledby',tabID).addClass('tabpanel');
        });


        // Attach a click handler to all tab anchor elements
        this.find('> ul a').click(function(event) {
          // prevent the anchor link from modifing the url. We don't want the brower scrolling down to the anchor.
          event.preventDefault();
          // The entire tabset, the parent of the clicked tab
          var $thisTabList = $(this).closest('.tabs');
          var $thisTabPanels = $('#map-aside-header__tabpanels');
          //console.log('$thisTabset:');
          //console.log($thisTabset);

          var thisTabID = $(this).attr('href');

          //console.log('thisTabID: ' + thisTabID);

          //var $thisTabContent = $thisTabset.find(thisTabID);

          //console.log('$thisTabContent:');
          //console.log($thisTabContent);

          // remove all the active classes on the tabs and panels
          $thisTabList.find('.active').removeClass('active');
          $thisTabPanels.find('.active').removeClass('active');
          // set the aria roles to the default settings for all
          //$thisTabset.find('> ul > li > a').attr('aria-selected', 'false').attr('aria-expanded', 'false').attr('tabindex', '-1');
          // hide all the tab panels
          $thisTabPanels.find('.tabpanel').hide().attr('aria-hidden', 'true').attr('tabindex', '-1');
          
          
          // show the panel
          $(thisTabID).addClass('active').show().attr('aria-hidden', 'false').attr('tabindex', '0');
          //highlight the clicked tab
          $(this).addClass('active').attr('aria-selected', 'true').attr('aria-expanded', 'true').attr('tabindex', '0');
          $(this).focus();
        });

        //set keydown events on tabList item for navigating tabs
        $(tabList).delegate('a', 'keydown',
          function (e) {
            switch (e.which) {
              case 37: case 38:
                if ($(this).parent().prev().length!==0) {
                  $(this).parent().prev().find('>a').click();
                } else {
                  $(tabList).find('li:last>a').click();
                }
                break;
              case 39: case 40:
                if ($(this).parent().next().length!==0) {
                  $(this).parent().next().find('>a').click();
                } else {
                  $(tabList).find('li:first>a').click();
                }
                break;
            }
          }
        );


      };

      // auto-init
      $(function(){
        $('.tabs').mapusaurusTabs();
      });

    })( jQuery );

        
    </script>
    <script type="text/javascript" src="//canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
    <script type="text/javascript" src="//canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
    <script type="text/javascript" src="//canvg.googlecode.com/svn/trunk/canvg.js"></script> 
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.0.1/q.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'mapping/js/metro-search.js' %}"></script>

{% endblock %}
