{% extends "basestyle/map_layout.html" %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block title %}Fair Lending HMDA Visualization Toolkit{% endblock %}

{% block head_styles %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'mapping/css/vendor.css' %}" />

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}


{% block main_content %}

    <div id="map-container"
        {% if metro %} 
            data-cent-lat="{{metro.centlat}}"
            data-cent-lon="{{metro.centlon}}"
            data-geoid="{{metro.geoid}}"
        {% endif %}
    >
            
    {% leaflet_map "map" callback="Mapusaurus.initialize" %}

    </div>


    {% include 'partial/map_key.html'%}


{% endblock %}

{% block foot_scripts %}

    {% leaflet_js %}

    <script type="text/javascript" src="{% static 'mapping/js/map-vendor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapping/js/map.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'respondants/js/metro-search.min.js' %}"></script>

{% endblock %}
