{% extends "basestyle/map_layout.html" %}
{% load staticfiles %}

{% block title %}Fair Lending HMDA Visualization Toolkit - {{ lender.name}} : {{ metro.name }} : Map{% endblock %}

{% block head_styles %}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{% static 'mapping/css/vendor.css' %}" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions_alt.html'%}

    </div>

{% endblock %}


{% block main_content %}
<div id="map-container">
    <div id="map"
        {% if metro %} 
            data-cent-lat="{{metro.centlat}}"
            data-cent-lon="{{metro.centlon}}"
            data-geoid="{{metro.geoid}}"
        {% endif %}
    >
    {% include 'partial/map_key.html'%}    
    </div>
</div>


{% endblock %}

{% block foot_scripts %}
    
    <script>
    $(document).ready(function(){
        $('.tabs').mapusaurusTabs();
        setMapHeight();
        
        L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
        
        var map = L.mapbox.map('map')

        {% if metro %}
            map.setView(["{{metro.centlat}}", "{{metro.centlon}}"], 9);
        {% else %}
            map.setView([40, -74.50], 9);
        {% endif %}


        // Create mapbox layers\
        var layers = {
            Base: L.mapbox.tileLayer('cfpb.fi6hia4i'),
            PctMinority: L.mapbox.tileLayer('cfpb.g0seb3xr'),
            PctHispanic: L.mapbox.tileLayer('cfpb.rn1dobt9'),
            PlaceNames: L.mapbox.tileLayer('cfpb.1mkotj4i')
        };

        // Base layers and overlays objects are used to determine which are
        // radio vs. checkboxes in leaflet (for automated selection)
        var baseLayers = {
            'Contiguous US': layers.Base
        };
        var overlays = {
            'Percentage Minority': layers.PctMinority,
            'Percentage Hispanic': layers.PctHispanic,
            'County Names': layers.PlaceNames
        }

        // To view layers on the map on page load, you must add them
        layers.Base.addTo(map);
        layers.PctMinority.addTo(map);
        layers.PlaceNames.addTo(map);

        // Add a layer control that allows users to select layers
        L.control.layers(baseLayers, overlays, {position: 'topleft'}).addTo(map); 

        //Add the legend as a control to Mapbox
        map.legendControl.addLegend(document.getElementById('key').innerHTML, {position: 'topright'});
    });

    function setMapHeight() {
        /* Set the map div to the height of the browser window minus the header. */
        var viewportHeight = $(window).height();
        var warningBannerHeight = $('#warning-banner').outerHeight();
        var headerHeight = $('#header').outerHeight();
        var mapHeaderHeight = $('#map-header').outerHeight();
        var mapHeight = (viewportHeight - (warningBannerHeight + headerHeight + mapHeaderHeight));
        $('#map-aside').css('height', mapHeight);
        $('#map').css('height', mapHeight);
    }

    /* 
        AJAX DATA FOR CIRCLES BELOW
    */    

    /* Parameter helper functions */
    function getActionTaken( value ){
        var actionTaken;

        switch (value) {
            case 'all-apps-5': 
                actionTaken = [1,2,3,4,5];
                break; 
            case 'all-apps-6': 
                actionTaken = [1,2,3,4,5,6];
                break; 
            case 'originations-1': 
                actionTaken = [1];
                break; 
        }
        return actionTaken;
    }

    function getTractsInBounds( bounds, callback ){
        var endpoint = '/shapes/tractCentroids/',
            nelat,nelon,swlat,swlon;

    }

    function getCountiesInView(){
        var data = Mapusaurus.dataStore.tract
    }

    function getBubbleData(){

    }

    function getLarData( actionTakenVal, counties, callback ){
        var endpoint = '/hmda/volume',
            params;

        params = {'county': counties };

        // Set the lender parameter based on the current URL param
        // This could be set as a parameter later if need be
        if (Mapusaurus.urlParam('lender')) {
            params['lender'] = Mapusaurus.urlParam('lender');
        }

        // If our parameter is passed properly, go get data, otherwise
        // return an error that no parameter is available.
        if ( actionTakenVal ) {
            params['action_taken'] = actionTakenVal;
            $.ajax({
                url: endpoint, data: params, traditional: true,
                success: console.log('getLarData request successful')
            })
            .fail( function(data){
                console.log('There was an error with your request', params );
            })
            .done( function(data){
                callback(data);
            });
        } else {
            console.log('Error: no action taken value');
        }
    }

    function getMinorityData(counties, callback){
        var endpoint = '/census/race-summary',
            params;

        params = {'county': counties};    

        $.ajax({
            url: endpoint, data: params, traditional: true,
            success: console.log('getLarData request successful')
        })
        .fail( function(data){
            console.log('There was an error with your request', params );
        })
        .done( function(data){
            callback(data);
        });        
    }


    </script>
    <!-- NEED SCRIPTS -->


    <script>
        /* 
            MAP TABS BELOW
        */    

        (function( $ ) {
          $.fn.mapusaurusTabs = function() {

            var tabList = this.find('> ul');
            var tabPanel = $('#map-aside-header__tabpanels > div');

            //console.log(tabList);
            //console.log(tabPanel);

            // Hide all the inactive tab panels. They are not hidden by CSS for 508 compliance
            tabPanel.hide();
            tabPanel.first().show().addClass('active');

            // Set the first tab to dark green

            tabList.find('a').first().addClass('active');
            
            //set the default aria attributes to the tab list
            tabList.attr('role', 'tablist');
            tabList.find('li').attr('role', 'presentation');
            tabList.find('a').attr('role', 'tab').attr('aria-selected', 'false').attr('aria-expanded', 'false').attr('tabindex', '-1');
            tabList.find('a').first().attr('aria-selected', 'true').attr('aria-expanded', 'true').attr('tabindex', '0');

            // add the default aria attributes to the tab panel
            tabPanel.attr('role', 'tabpanel').attr('aria-hidden', 'true').attr('tabindex', '-1');
            tabPanel.first().attr('aria-hidden', 'false').attr('tabindex', '0');

            // create IDs for each anchor for the area-labelledby
            tabList.find('a').each(function() {
              var tabID = $( this ).attr('href').substring(1);
              //console.log(tabID);
              $(this).attr('id','tablist-' + tabID).attr('aria-controls', tabID);
            });

            tabPanel.each(function() {
              //console.log( index + ': ' + $( this ).attr('href').substring(1) );
              var tabID = 'tablist-' + $( this ).attr('id');
              //console.log(tabID);
              $(this).attr('aria-labelledby',tabID).addClass('tabpanel');
            });


            // Attach a click handler to all tab anchor elements
            this.find('> ul a').click(function(event) {
              // prevent the anchor link from modifing the url. We don't want the brower scrolling down to the anchor.
              event.preventDefault();
              // The entire tabset, the parent of the clicked tab
              var $thisTabList = $(this).closest('.tabs');
              var $thisTabPanels = $('#map-aside-header__tabpanels');
              //console.log('$thisTabset:');
              //console.log($thisTabset);

              var thisTabID = $(this).attr('href');

              //console.log('thisTabID: ' + thisTabID);

              //var $thisTabContent = $thisTabset.find(thisTabID);

              //console.log('$thisTabContent:');
              //console.log($thisTabContent);

              // remove all the active classes on the tabs and panels
              $thisTabList.find('.active').removeClass('active');
              $thisTabPanels.find('.active').removeClass('active');
              // set the aria roles to the default settings for all
              //$thisTabset.find('> ul > li > a').attr('aria-selected', 'false').attr('aria-expanded', 'false').attr('tabindex', '-1');
              // hide all the tab panels
              $thisTabPanels.find('.tabpanel').hide().attr('aria-hidden', 'true').attr('tabindex', '-1');
              
              
              // show the panel
              $(thisTabID).addClass('active').show().attr('aria-hidden', 'false').attr('tabindex', '0');
              //highlight the clicked tab
              $(this).addClass('active').attr('aria-selected', 'true').attr('aria-expanded', 'true').attr('tabindex', '0');
              $(this).focus();
            });

            //set keydown events on tabList item for navigating tabs
            $(tabList).delegate('a', 'keydown',
              function (e) {
                switch (e.which) {
                  case 37: case 38:
                    if ($(this).parent().prev().length!==0) {
                      $(this).parent().prev().find('>a').click();
                    } else {
                      $(tabList).find('li:last>a').click();
                    }
                    break;
                  case 39: case 40:
                    if ($(this).parent().next().length!==0) {
                      $(this).parent().next().find('>a').click();
                    } else {
                      $(tabList).find('li:first>a').click();
                    }
                    break;
                }
              }
            );


          };


        })( jQuery );

        
    </script>
{% endblock %}
