{% extends "basestyle/map_layout.html" %}
{% load staticfiles %}

{% block title %}{{ lender.name}} : {{ metro.name }} : Map : Fair Lending HMDA Visualization Toolkit{% endblock %}

{% block head_styles %}
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  <style>
    
  </style>
{% endblock %}

{% block head_scripts %}
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
{% endblock %}

{% block sidebar_content %}

    <div class="map_aside__tabpanels tabpanels">

        {% include 'partial/map_lender_info.html'%}

        {% include 'partial/map_actions.html'%}

    </div>

{% endblock %}


{% block main_content %}
    <div id="map-container"
        {% if metro %} 
            data-cent-lat="{{metro.centlat}}"
            data-cent-lon="{{metro.centlon}}"
            data-geoid="{{metro.geoid}}"
        {% endif %}
    >
      <div id="map"></div>
    </div>


{% endblock %}

{% block foot_scripts %}
    <script type="text/javascript" src="{% static 'mapping/js/map-layout.min.js' %}"></script>
    <script>
      var lat_centriod = {{metro.centlat}};
      var lon_centriod = {{metro.centlon}};

      L.mapbox.accessToken = 'pk.eyJ1IjoiY2ZwYiIsImEiOiJodmtiSk5zIn0.VkCynzmVYcLBxbyHzlvaQw';
      var map = L.mapbox.map('map', 'cfpb.iqa4te29')
          .setView([lat_centriod, lon_centriod], 9);
    </script>
    <script type="text/javascript" src="{% static 'respondants/js/metro-search.min.js' %}"></script>
{% endblock %}