/* ==========================================================================
   CFPB Design Manual
   Main Content
   ========================================================================== */

// These styles are for all browsers -- both mobile and desktop

.main-content {

  /*
  h2 {
    .clearfix();
    border-bottom: 1px solid @gray-20;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px !important;
  }

  p {
    .webfont-regular();    
  }
  */
  
  .lead-in {
    .webfont-regular();
    font-size: 1.125em;
  }

  /* cross-browser HR styling. See:
  https://github.com/paulirish/html5-boilerplate/blob/ef3c095bafa9a6fa9c771f368d4b30c8ce4deded/css/style.css#L75
  */
  hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid @gray-20;
    margin: 1.25em 0; 
    padding: 0;
  }

  img + hr {
    /* horizontal rules after images are getting to much space above the image */
    margin: 1em 0 1.25em 0; 
  }

  /* Table of Contents */
  ul.toc {
    .clearfix();
    list-style: none;
    border-bottom: 1px solid @pacific-20;
    padding: 0 0 1.25em 0; // 1.25em = 20px
    margin: 0 0 1.875em 0; // 1.875em = 30px

  }

  .toc {

    li {

      .webfont-demi();
      font-size: 1.125em;
      display: block;
      float: left;
      position: relative;

      a {
        text-decoration: none;
        border-bottom: none;
        padding: 0 1em 0 0;
      }

      a:visited {
        color: @pacific;
      }

      a:hover {
        border-bottom: none;
        color: @pacific-50;
      }

    }

  }
  /* End Table of Contents */

  /* ==========================================================================
   CFPB Design Manual
   Lists
   ========================================================================== */

  ul,
  ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: square;
  }

  li ul,
  li ol {
          margin: 0 1.375em;
  }

  dl dd {
          //margin-left: 1.375em;
  }

  dt {
          .webfont-demi();
  }

}