/* ==========================================================================
   CFPB Design Manual
   @font-face Declarations
   ========================================================================== */

// Font stack variables

// The first four are not needed with the lastest cf-typography which now has mix-ins for controlling the font face.
// See: https://cfpb.github.io/cf-typography/docs/

/*
@sans-serif: "Avenir Next", "AvenirNextLTW01-Regular", Arial, sans-serif;
@sans-serif-medium: "Avenir Next Medium", "AvenirNextLTW01-Medium", Arial, sans-serif;
@sans-serif-demi: "Avenir Next Demi", "AvenirNextLTW01-Demi", Arial, sans-serif;
@sans-serif-italic: "Avenir Next Italic", "AvenirNextLTW01-Italic", Arial, sans-serif;
*/
@serif: Georgia, "Times New Roman", serif;
@monospace: monospace, sans-serif;
