@lma-color: #eae9e5;
@mma-color: #A7C4B6;
@hma-color: #5C9796;
@border-strong: #bababa;
@border-light: #dddddd;
@background-gray: #F8F8F8;

.show-data .leaflet-control-minimap {
    display: none;
}

.chart-toggle {
    cursor: pointer;
}

.chart-toggle:hover{
    background: @gray-20;
}
.chart-toggle.active-layer{
  background: @green-tint;
}
.chart-toggle.active-layer:hover{
    background: @green-midtone;
}

#map-aside {
    overflow:scroll;
}

#data-container {
    border-top: 3px solid #777;
    overflow-y: auto;
    position: relative;
    display: none;
}

#table-container {
    display: none;
    th, td {
        padding: .75em .3em;
    }
}

.summary-data-table {
    margin-bottom: 0;
    width: 100%;
    border-collapse: collapse;
    
    thead {
        border-bottom: 1px solid @border-strong;
        
        th {
            color: @gray;
            background: @background-gray;
      
          	.color-coded {
          	    position:relative;
          	    padding-left: 1em;

          	    &:before {
          		    content: '\2022';
              		line-height: 1;
              		position: absolute;
               		left: 0;
               		font-size: 1.5em;
               		top: -2px;
               	}
          	}

            &.lar.lma_ct,
            &.lar.lma_pct,
            &.lma_ratio {
                .color-coded:before {
            		    color: @lma-color;
            	  }
            }

            &.lar.mma_ct,
            &.lar.mma_pct,
            &.mma_ratio {
                .color-coded:before {
            		    color: @mma-color;
            	  }
            }

            &.lar.hma_ct,
            &.lar.hma_pct,
            &.hma_ratio {
                .color-coded:before {
            		    color: @hma-color;
            	  }
            }

            .sortable-content,
            .arrows {
                float: left;
            }

            .arrows {
                position: relative;
                margin-left: 4px;
            }

            .cf-icon-up,
            .cf-icon-down {
                font-size:  unit(12px / @base-font-size-px, em);
            }
            .cf-icon-up {
                position: absolute;
                left: 0;
                top: 0;
            }

            .cf-icon-down {
                position: absolute;
                left: 0;
                top: 7px;
            }

            &.tablesorter-headerAsc .cf-icon-down {
                color: @gray-20;
            }

            &.tablesorter-headerDesc .cf-icon-up {
                color: @gray-20;
            }
        }
    }
    .tablesorter-headerRow {
        border-bottom: 1px solid @border-light;
    }
    
    .sortable-header th {
        text-transform: uppercase;
        cursor: pointer;
    }
    
    .header-one th {
        padding-bottom: .5em;
        font-size:  unit(16px / @base-font-size-px, em);
    }
    .header-two th {
        padding-top: .4em;
        font-size:  unit(13px / @base-font-size-px, em);
    }
    
    td,
    th {
        border-right: 1px solid @border-light;
    }
    
    th.name,
    td.name,
    td.chart-title,
    .expander {
        border-right-width: 0;
    }
    
    td.chart,
    th.name-span,
    .hma_ct,
    .hma_pct,
    .header-one th.title,
    .header-one th.number,
    .header-one th.percentage,
    .header-two th.name {
        border-color: @border-strong;
    }
    
    .lar,
    .chart-title {
        min-width: 50px;
    }

    .lar {
        font-size: .9em;
    }
    th.lar {
        font-size: .9em;
    }
    
    .odds_ratio {
        min-width: 45px;
    }
    
    .chart {
        width: 100px;
        
        .bar {
            width: 90px;
            height:16px;
            .u-inline-block;
            
            .segment {
                height: 16px;
                float: left;
                
                &.lma {
                    background-color: @lma-color;
                }
                &.mma {
                    background-color: @mma-color;
                }
                &.hma {
                    background-color: @hma-color;
                }
            }
            
            &.peer {
                height: 8px;
                
                .segment {
                    height: 8px;
                }
            }
        }
    }
    
    tbody {
        tr {
            &.msa-row {
                .webfont-demi() ;
            }

            &.peer-row {
                color: @gray;
                border-bottom: 1px solid @border-strong;

                & td {
                    padding-top: 0;
                    padding-bottom: .5em;
                }
            }

            &.county-row {
                & .lar,
                & .lar_pct {
                    font-size: 14px;
                }
            }

            td {
                vertical-align: top;

                &.chart {
                    vertical-align: middle;
                }

                &.lar_pct, 
                &.odds_ratio,
                &.lar {
                    text-align: right;
                }
                &.odds-warning {
                    background-color: @redorange-50;
                }
                &.odds-caution {
                    background-color: @redorange-20;
                }
            }
        }
    }    
    
    &.peer-table  {
        .target-row td {
            padding-top: .5em;
            padding-bottom: 0;
        }
        
        .target-row-identifier {
            display: none;
        }
    }
    
    &.basic-table {
        .target-row  td {
            border-bottom: 1px solid @border-strong;
        }
    }
   
}


// #data-container-sizer {
//     width: 70px;
//     position: absolute;
//     right: 0;
//     height: 0;
//     display: none;
//     font-weight: bold;
// }

.center-header {
    text-align: center;
}

#closeTable {
    float: right;
    padding-right: 3px;
    padding-top: 3px;  
    color: @pacific;
}

#downloadTable {
    float: right;
    font-size: 1.3em;
    color: @pacific;
}

#tableLoadImage {
    margin: auto;
    padding: 5px;
}

.odds {
    .tooltipsy {
        font-size: .85em;
    }
}
